@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5%;
    --foreground: 270 5% 96%;

    --card: 0 0% 8%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 11%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 5%;

    --secondary: 0 0% 16%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 53%;

    --accent: 0 0% 16%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 16%;
    --input: 0 0% 33%;
    --ring: 0 0% 100%;

    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-[#0d0d0d] text-[#f4f3f6] font-sans antialiased;
    background-color: #0d0d0d;
  }

  .font-sans-tabular {
    font-feature-settings: "tnum" 1, "zero" 1;
    font-variant-numeric: tabular-nums;
  }
}
